<%# File Name: header.ejs Student Name: Wai Kin Ching Student ID: 301309263 Date: October 1, 2023 %>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Wai Kin Ching">
  <title>Wai Kin Ching</title>
  <link href="/stylesheets/style.css" rel="stylesheet">

  <div id="header-container">
    <div id="homeimg">
      <img src="/images/logo.png" alt="code" width="350px" height="160px">
    </div>
    <div id="other-container">
      <a href="/" class="other-link">Home Page</a>
      <a href="/aboutme" class="other-link">About Me</a>
      <a href="/projects" class="other-link">Projects Page</a>
      <a href="/services" class="other-link">Services Page</a>
      <a href="/contactme" class="other-link">Contact Me</a>
    </div>
  </div>