<div class="container">
    <div class="box">
      <img src="/images/frontend.png" alt="frontend" style="height: 100px; width: 100px;" class="rotate-image">
      <h2 style="font-size: 3em;">Front End</h2>
      <br>
      <h2>HTML | CSS | JavaScript | Node.js</h2>
    </div>
    <div class="box">
      <img src="/images/backend.png" alt="backend" style="height: 100px; width: 100px;" class="rotate-image">
      <h2 style="font-size: 3em;">Back End</h2>
      <br>
      <h2>C# | Python | Java | Linux</h2>
      </div>
  </div>

  <div class="container">
    <div class="box">
      <img src="/images/database.png" alt="database" style="height: 100px; width: 100px;" class="rotate-image">
      <h2 style="font-size: 3em;">Database</h2>
      <br>
      <h2>SQL | MongoDB</h2>
    </div>
    <div class="box">
      <img src="/images/iot.png" alt="iot" style="height: 100px; width: 100px;" class="rotate-image">
      <h2 style="font-size: 3em;">Internet of Things</h2>
      <br>
      <h2>IoT Solutions | IoT Knowledge</h2>
      </div>
  </div>