<%- include('partials/header.ejs') %>


  <body>

    <div id="about-container">
        <div style="width: 300px; float: left; text-align: center;">
          <img style="width: 300px; border-radius: 150px; margin-top: 40px;" src="/images/profpic.png" alt="profpic">
          <br>
          <br>
          <a href="http://studentweb.cencol.ca//wching6/COMP229/Resume_Ching%20Wai%20Kin.pdf" target="resume" class="project">Resume</a>
        </div>
    

      <div class="waviy" style="margin-top: 10px;">
        <span style="--i:1">A</span>
        <span style="--i:2">b</span>
        <span style="--i:3">o</span>
        <span style="--i:4">u</span>
        <span style="--i:5">t</span>
        <span style="--i:6"> </span>
        <span style="--i:7">M</span>
        <span style="--i:8">e</span>
      </div>

      <p style="margin-left: 320px;"> Hello, My name is Wai Kin Ching, you can call me Damon as well. I am currently
        studying Software Engineering Technician at Centennial College. In 2012, I finished a full-time higher diploma
        in Aircraft Maintenance Engineering. Afterwards, I also achieved my bachelor’s degree in Building Services
        Engineering at Leeds Beckett University in 2016.</p> <!-- Your background text here -->

      <p style="margin-left: 320px;">I pursued my career in EC InfoTech Limited from 2012 to 2013 and participated in a
        project of Security System, empowering me to supervise the installation and system configuration work. Then, I
        joined Schneider Electric (Hong Kong) Limited in 2013 . Being an employee of Schneider Electric, I have been
        working on Security Access Management System projects for the MTR Corporation (which operates the mass transit
        railways in Hong Kong) for more than 8 years and leading Internet of Things (IoT) Solutions, including a Cloud
        Platform in Power Monitoring System Projects for multiple Commercial Real Estate developers, for two years. </p>
      <!-- Your professional journey text here -->

      <p style="margin-left: 320px;">Recognizing a career development bottleneck in the project engineering domain after
        a decade in the engineering industry, I decided to expand my knowledge and skills in software engineering. I am
        currently enrolled in a two-year diploma program in Software Engineering Technician at Centennial College, from
        January 2023 to April 2024, where I am acquiring proficiency in Python, Java, C#, and SQL database. My focus is
        to delve deeper into database engineering, enhancing my understanding and skills in this domain.</p>
      <!-- Your educational aspirations and current endeavors text here -->

      <p style="margin-left: 320px;">The impetus behind my pursuit of software engineering is the ubiquitous need for
        specialized software across industries, businesses, and functions, particularly in IoT applications. My
        extensive experience in energy management, coupled with the new expertise and network I am developing, fuels my
        confidence in establishing my expertise. With a rich background in engineering and a passion for learning and
        innovation, I am on a journey to bridge the gap between traditional engineering domains and cutting-edge
        software engineering. My endeavor is to amalgamate my diverse experiences and the skills I am currently
        acquiring to carve a niche in the technology sector.</p> <!-- Your purpose and future goals text here -->

    </div>

    <%- include('partials/light.ejs') %>
      <%- include('partials/footer.ejs') %>
  </body>