<%- include('partials/header.ejs') %>
    <body>

        <%- include('partials/context.ejs') %>

            <%- include('partials/light.ejs') %>
                <%- include('partials/footer.ejs') %>
    </body>