<%- include('partials/header.ejs') %>


  <body>

    <div class="row">
      <div class="image-container">
        <img src="/images/project1.png" alt="project1" style="height: 320px;">
      </div>
      <div class="text-container">
        <h1 style="color: white; font-weight: 600;">Real Estate Agent Website</h1>
        <br>
        <h3 style="color: white;">The Story</h3>
        <br>
        <p style="color: white; font-weight: 200;">Born and raised in Saskatchewan, I moved to Alberta with my bride,
          Teila, when I was 23 years old and newly
          married. I went on to start a renovation and design company in my mid 20's and, and became a father in my
          early 30s. Approaching 40, I entered real estate to provide a better life for my wife and 2 young children.
          Now 4 years licensed, and married for over 20 years, our real estate business is thriving, selling over 100
          Million myself in the last 18 months, and have started a quickly growing team.</p>
        <br>
        <a href="http://studentweb.cencol.ca/wching6/COMP229/COMP213Final%20Project/main%20page.html" target="real estate" class="project">Visit Website</a>
      </div>
    </div>

    <div class="row">
      <div class="image-container">
        <img src="/images/project2.png" alt="project2" style="height: 320px;">
      </div>
      <div class="text-container">
        <h1 style="color: white; font-weight: 600;">Software Requirement Specification</h1>
        <br>
        <h3 style="color: white;">Introdution</h3>
        <br>
        <p style="color: white; font-weight: 200;">The purpose is to build a cloud computing system that will
          appropriately record reduction of electrical loads, demand management, data collection and download, while
          calculating the cost of energy used by Electric Vehicles. This is version 1.0.0.</p>
        <br>
        <a href="http://studentweb.cencol.ca//wching6/COMP229/Software%20Requirement%20Specification.pdf" target="srs" class="project">Download</a>
      </div>
    </div>

    <div class="row">
      <div class="image-container">
        <img src="/images/project3.png" alt="project3" style="height: 320px;">
      </div>
      <div class="text-container">
        <h1 style="color: white; font-weight: 600;">Bug Smasher Game</h1>
        <br>
        <h3 style="color: white;">Introdution</h3>
        <br>
        <p style="color: white; font-weight: 200;">The bug hops randomly around the game area at a given interval. The player tries to catch the
          bug by clicking on it. If he succeeds, the score is incremented and the hopping interval is
          decremented by a number of milliseconds, so it gets harder to catch the bug.</p>
        <br>
        <a href="http://studentweb.cencol.ca/wching6/Assignment4_Wai%20Kin/index.html" target="beegame" class="project">Start the Game</a>
      </div>
    </div>





    <%- include('partials/light.ejs') %>
      <%- include('partials/footer.ejs') %>
  </body>